<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PassShield.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Atom_Password_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PassShield.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>56, 81, 112</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="BackColor2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SubButtonColor" serializeAs="String">
                <value>35, 49, 66</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Tw Cen MT Condensed Extra Bold, 15pt</value>
            </setting>
            <setting name="FontMic" serializeAs="String">
                <value>Tw Cen MT Condensed Extra Bold, 11.25pt</value>
            </setting>
            <setting name="caractereParola" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&amp;*()_-=+;[]{}:.,&lt;&gt;/?</value>
            </setting>
            <setting name="lungimeParola" serializeAs="String">
                <value>16</value>
            </setting>
        </PassShield.Properties.Settings>
        <Atom_Password_Manager.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>56, 81, 112</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="BackColor2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SubButtonColor" serializeAs="String">
                <value>20, 45, 76</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Tw Cen MT Condensed Extra Bold, 18pt</value>
            </setting>
            <setting name="FontMic" serializeAs="String">
                <value>Tw Cen MT Condensed Extra Bold, 12pt</value>
            </setting>
            <setting name="caractereParola" serializeAs="String">
                <value>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&amp;*()_-=+;[]{}:.,&lt;&gt;/?</value>
            </setting>
            <setting name="lungimeParola" serializeAs="String">
                <value>16</value>
            </setting>
        </Atom_Password_Manager.Properties.Settings>
    </userSettings>
</configuration>
